{% extends "_layouts/base.html" %}

{% block page_title %}Your Site - Contact{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Contact us</h1>
      <blockquote class="blockquote">
          <p class="m-b-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <iframe width="600" height="450" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJD7fiBh9u5kcRYJSMaMOCCwQ" allowfullscreen></iframe>
  </div>
</div>

{% endblock %}
